<!DOCTYPE html>
<html>
  <head>
    <title>Boise State Blog</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="views\style.css">
    <style>
      .header {
        background: blue;
      }

      .other-entries {
        background-color: orangered;
        position: relative;
        bottom: 0;
        width: 100%;
      }
    </style>
  </head>
  <body class="body">

    <div class="div" style="max-width:1400px">

      <!-- Header -->
      <header class="header">
        <h1>
          <b>Boise State Blog</b>
        </h1>
      </header>

      <!-- Blog entries -->
      <p>
        <ul>
          {% for txt in data%}
            <ul>{{txt.blog_id}} - {{txt.blog_txt}}
            </ul>
          {% endfor%}
        </ul>
      </p>
      <hr>
      <!-- Other blog entries -->
      <div class="other-entries">
        <hr>
        <h2>Add post</h2>
        <form action="/add" method="POST">
          <div>
            <label for="blog">What is your post?</label>
            <input name="blog" id="blog" value="Hi this is my blog text!"/>
          </div>
          <div>
            <button>Send post</button>
          </div>
        </form>
        <hr>
        <h2>Edit post</h2>
        <form action="/edit" method="POST">
          <div>
            <label for="blog">Post to edit?</label>
            <input name="blog" id="blog" value="1"/>
            <label for="edit">Edited post</label>
            <input name="edit" id="edit" value=""/>
          </div>
          <div>
            <button>Send edit</button>
          </div>
        </form>
        <hr>
        <h2>Delete post</h2>
        <form action="/delete" method="POST">
          <div>
            <label for="blog">Post to delete?</label>
            <input name="blog" id="blog" value="1"/>
          </div>
          <div>
            <button>delete post</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>